* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3368A0;
    color: #E0FFFF;
    line-height: 1.6;
}

header {
    background-color: #3368A0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 20px rgba(242, 239, 231, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 8%;
}

header h1 {
    margin: 0;
    font-size: 28px;
    color:#F2EFE7;
}

nav {
    display: flex;
    gap: 1px;
}

nav a {
    text-decoration: none;
    color: #F2EFE7;
    padding: 15px 40px;
    font-size: 20px;
}

nav a:hover {
    background-color: #66A3BF;
}

nav a.active {
    background-color:#66A3BF;
}

/* home section */
#home {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#C8DFDB;
    color: #3368A0;
    border-bottom: 3px solid #F2EFE7;
}

#home h2 {
    margin: 0;
    max-width: 700px;
    font-size: 3rem;
    line-height: 1 2;
    text-align: center;
}

#home p {
    max-width: 600px;
    margin-top: 20px;
    font-size: 18px;
    color: #5882b3;
}

#about {
    padding: 40px 8%;
}

#about h2 {
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 38px;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 80px;
    max-width: 1100px;
    margin: 0 auto;
}

.about-foto {
    width: 280px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}
#about p {
    max-width: 850px;
    font-size: 20px;
}
/* end of home section */ 

/* hobby section */
#hobby {
    padding: 80px 10%;
}

#hobby h2 {
    margin-top: -50px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.hobi-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.forza-card {
    background-image: url("assets/fh5.png");
}

.motogp-card {
    background-image: url("assets/motogp25.jpg");
}

.fc24-card {
    background-image: url("assets/fc24.png");
}

.ride-card {
    background-image: url("assets/ride5.png");
}

.fivem-card {
    background-image: url("assets/fivem.png");
}

.video-card {
    background-image: url("assets/editing.png");
}

.hobi-card {
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.card-content h3 {
   text-align: center;
   text-shadow: 2px 2px 4px; 
}

.card-content p {
    text-align: center;
    font-size: 20px;
    margin-top: 175px;
}
/* end of hobi section */

/* review section */
#review h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

#review form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#review input, #review select, #review textarea {
    text-align: center;
    margin-top: -20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
}

#review button {
    border-radius: 5px;
    background-color: #3368A0;
    padding: 10px;
    border: none;
    color: #C8DFDB;
    font-size: 16px;
    cursor: pointer;

}

#review button:hover{
    background-color: #C8DFDB;
    color: #3368A0;
    border: 2px solid #3368A0;
    padding: 8px;
}
#review label {
    font-size: 20px;
    color: #3368A0;
}
.form-container {
    background-color: #C8DFDB;
    margin: 30px auto;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
}
/* end of review section */

footer {
    background-color: #C8DFDB;
    color: #3368A0;
    padding: 1rem 0 1rem;
    text-align: center;
}